# Build outputs
bin/
obj/

# User/IDE files
*.user
*.suo
*.vspscc
*.vssscc
.vs/
.idea/
*.DotSettings.user
.ReSharper*/
.DS_Store

# EF / Local DB
*.sqlite
*.db
*.mdf
*.ldf

# Logs
*.log

# Configs / Secrets
appsettings.*.local.json
appsettings.Development.json
secrets.json
launchSettings.json

# Rider cache
_Dependencies*/
